body{font-family: 'Quicksand', sans-serif;}




/**************NAVIGATION**************/

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.logo{
  text-align: right;
}

.logo p{
  margin: 0;
}

.nav{
  display: flex;
  justify-content:space-between;
}

.navigation-links{
  display: flex;
  color: black;
  font-weight: bold;
  text-decoration: none;

}

.navLink{
font-size: 1.5rem;  
margin-right: 20px;
text-decoration: none;
color: white;
position: relative;
}

.navLink::after{
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(141, 232, 214);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.navLink::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color:  rgb(198, 200, 120);
  text-shadow: 0 0 10px blue;
  opacity: 0;
  transition: opacity 0.3s ease;
}
 .navLink:hover:before{
  opacity: 1;
 }

 /* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
    padding: 5px;
  }

  .logo {
    text-align: center;
    margin-bottom: 5px;
  }

  .nav {
    justify-content: center;
  }

  .navLink {
    margin-right: 10px;
    font-size: 1.2rem;
    justify-content: center;
  }
}

 











/**************BACKGROUND**************/

.contenedor{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-container {
  height:700px;
  width: 100%;
  background-image: url('./components/Images/welcome.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  position: relative; 
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .banner-container {
    height: 200px; /* Ajusta la altura según tus necesidades */
    background-size: contain;
    margin-top: 90px;
  }
}







/**************Letrero**************/

  .welcome{
    align-items: flex-start;
    position:absolute;
    z-index: 999;
    margin-bottom: 300px;
  }

  .banner-text {
    font-size: 4.5em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .banner-text span{
letter-spacing: 5px;
background-image: linear-gradient(to right, #6699cc, #336699, #cb88d2); 
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
background-clip: text; 
}
    

  @keyframes fadeInLetter {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .banner-text span {
	opacity: 0;
	animation: fadeInLetter 0.8s ease-in-out forwards;
  color: black;
  }

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .welcome {
    align-items: flex-start;
    margin-bottom: 100px; /* Ajusta el margen inferior según tus necesidades */
    margin-top: 10px;
  }

  .banner-text {
    font-size: 2.5em; /* Ajusta el tamaño de fuente según tus necesidades */
  }
}











  
/**************POSTS**************/
.posts-container{
 width: auto;
 display: flex;
 flex-wrap: wrap;
 justify-content:center;
}

.post{
  margin: 50px;
  margin-bottom: 30px;
 }
 
 .image-container{
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}


.post-image {
  width: 350px;
  height: auto;
  margin: 0%;
  border: 0%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay,
.image-container:active .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 16px;
  text-align: center;
}

.titles{
  text-align: center;
  font-size: 1rem;
  margin: 0%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgba(102, 153, 204, 0.5), rgba(51, 102, 153, 0.5), rgba(203, 136, 210, 0.5));
  color: black;
}




@media screen and (max-width: 600px) {
  .post {
    margin: 10px;
    margin-bottom: 20px;
  }

  .post-image {
    width: 100%;
    height: auto;
  }

  .titles {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus necesidades */
    padding: 5px; /* Ajusta el padding según tus necesidades */
  }
}











/**************Posts Archivo**************/
.fondo{
  background-color: #6ab8d5;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.post-archive{
  margin-top: 125px;
 }
 
 .image-container-archive{
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}

.post-image-archive {
  width: 500px;
  height: 100%;
  margin: 0%;
  border: 0%;
}

.overlay-archive{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container-archive:hover .overlay-archive,
.image-container-archive:active .overlay-archive {
  opacity: 1;
}

.overlay-text-archive {
  font-size: 16px;
  text-align: center;
}

.titles-archive{
  text-align: center;
  font-size: 1rem;
  margin: 0%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgba(102, 153, 204, 0.5), rgba(51, 102, 153, 0.5), rgba(203, 136, 210, 0.5));
  color: black;
}

@media screen and (max-width: 600px) {
  .post-archive {
    margin: 10px auto;
    margin-bottom: 20px;
  }

  .post-image-archive {
    width: 100%;
    height: auto;
  }

  .titles-archive {
    font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus necesidades */
    padding: 5px; /* Ajusta el padding según tus necesidades */
  }
}
















/**************Detail**************/
.container-detail {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  margin:200px auto;
  margin-top: 10px auto;
}

.blog-post {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.post-image-full {
  width: 100%;
  max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
  object-fit: cover;
  border-radius: 8px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.content {
  margin-bottom: 15px;
}

p {
  margin: 0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .container-detail {
    margin: 80px auto; /* Ajusta el margen según tus necesidades */
  }

  .post-image-full {
    max-height: 150px; /* Ajusta la altura máxima según tus necesidades */
  }

  h2 {
    font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus necesidades */
    margin-bottom: 10px;
  }

  .blog-post {
    padding: 10px; /* Ajusta el padding según tus necesidades */
    margin-bottom: 10px;
  }
}



  












/**************Footer**************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  padding: 0%;
}

.footer-container {
  position: relative;
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%; /* Ajusta la posición izquierda de la línea divisora */
  width: 60%; /* Ajusta el ancho de la línea divisora */
  height: 1px; /* Ajusta el grosor de la línea divisora */
  background-color: rgba(0, 0, 0, 0.5); /* Color de línea sutil */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
}




.contact-info,
.social-media {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}



.instagram-icon {
  width: 24px; 
  height: 24px; 
  background-image: url('/src/components/Images/instaIcon.png');
  background-size:cover; 
  align-items: center;
}


.section{
  margin-top:100px;
}























/**************Nosotros**************/

.container {
  text-align: center;
  margin: 0 auto; /* Añadimos margen automático en los lados para centrar horizontalmente */
  display: flex; /* Utilizamos flexbox para centrar verticalmente */
  align-items: center; /* Centramos verticalmente */
  justify-content: center; /* Centramos horizontalmente */
  height: 100vh; /* Establecemos una altura del contenedor para ocupar toda la pantalla verticalmente */
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  color: #666;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
