/**************NAVIGATION**************/

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.logo{
  text-align: right;
}

.logo p{
  margin: 0;
}

.nav{
  display: flex;
  justify-content:space-between;
}

.navigation-links{
  display: flex;
  color: black;
  text-decoration: none;

}

.navLink{
font-size: 1.225rem;  
margin-right: 20px;
text-decoration: none;
color: black;
position: relative;
}

.navLink::after{
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(92, 218, 193);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.navLink::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color:  rgb(198, 200, 120);
  text-shadow: 0 0 10px blue;
  opacity: 0;
  transition: opacity 0.3s ease;
}
 .navLink:hover:before{
  opacity: 1;
 }


/* Estilos responsive */

/**************BACKGROUND**************/

.banner-container{
	height: 850px;
	background-image: url('./components/Images/welcome.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
  display: flex;
	align-items: center;
	justify-content: center;
  }

  
  .banner-text{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
  }	

  @keyframes fadeInLetter {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .banner-text span {
	opacity: 0;
	animation: fadeInLetter 0.8s ease-in-out forwards;
  }
  
/**************POSTS**************/
.posts{
 width: auto;
 height: auto;
 display: flex;
 flex-wrap: wrap;
 justify-content:space-around;
}


.post{
 margin: 30px;
}

.image-container{
  position: relative;
  overflow: hidden;
}

.post-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay,
.image-container:active .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 16px;
  text-align: center;
}

.post-content {
  padding: 10px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

h1{
  font-size: 4em;
  position: relative;
  
}


  
/**************Footer**************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.contact-info,
.social-media {
  text-align: center;
}



.instagram-icon {
  width: 24px; 
  height: 24px; 
  background-image: url('/src/components/Images/instaIcon.png');
  background-size:cover; 
  align-items: center;
}



.blog-post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post-image {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.blog-post-content {
  margin-bottom: 20px;
}

.blog-post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-post-description {
  line-height: 1.5;
}
