/**************NAVIGATION**************/

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(152, 152, 152, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.logo{
  text-align: right;
}

.logo p{
  margin: 0;
}

.nav{
  display: flex;
  justify-content:space-between;
}

.navigation-links{
  display: flex;
  color: black;
  font-weight: bold;
  text-decoration: none;

}

.navLink{
font-size: 1.5rem;  
margin-right: 20px;
text-decoration: none;
color: black;
position: relative;
}

.navLink::after{
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(141, 232, 214);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.navLink::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color:  rgb(198, 200, 120);
  text-shadow: 0 0 10px blue;
  opacity: 0;
  transition: opacity 0.3s ease;
}
 .navLink:hover:before{
  opacity: 1;
 }


/* Estilos responsive */

/**************BACKGROUND**************/

.contenedor{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-container{
	height: 850px;
  width: 100%;
	background-image: url('./components/Images/welcome.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top;
  }
  
  .welcome{
    align-items: flex-start;
    position:absolute;
    z-index: 999;
    margin-bottom: 450px;
  }

  .banner-text {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .banner-text span{
letter-spacing: 11px;
background-image: linear-gradient(to right, #6699cc, #336699, #cb88d2); /* Combinación de colores metálicos */
-webkit-background-clip: text; /* Aplicar el fondo solo al texto (para navegadores webkit) */
-webkit-text-fill-color: transparent; /* Hacer el texto transparente (para navegadores webkit) */
background-clip: text; /* Aplicar el fondo solo al texto (propiedad estándar) */
}
    



  @keyframes fadeInLetter {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .banner-text span {
	opacity: 0;
	animation: fadeInLetter 0.8s ease-in-out forwards;
  color: black;
  }


  
/**************POSTS**************/
.posts{
 width: auto;
 height: auto;
 display: flex;
 flex-wrap: wrap;
 justify-content:space-around;
}


.post{
 margin: 30px;
}

.image-container{
  position: relative;
  overflow: hidden;
}

.post-image {
  width: 400px;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay,
.image-container:active .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 16px;
  text-align: center;
}


.titles{
  text-align: center;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  right: 0;
}

  
/**************Footer**************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-info,
.social-media {
  text-align: center;
}



.instagram-icon {
  width: 24px; 
  height: 24px; 
  background-image: url('/src/components/Images/instaIcon.png');
  background-size:cover; 
  align-items: center;
}


